.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: hsl(220, 27%, 49%);
  color: white;
  text-decoration: none;
  list-style: none;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}
